body .ui-inputtext {
  font-size: 14px;
  color: $colorTextoHover;
  background: $blanco;
  padding: 0.429em;
  border: $borde;
  -moz-transition: border-color 0.2s, box-shadow 0.2s;
  -o-transition: border-color 0.2s, box-shadow 0.2s;
  -webkit-transition: border-color 0.2s, box-shadow 0.2s;
  transition: border-color 0.2s, box-shadow 0.2s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
body .ui-inputtext.ng-dirty.ng-invalid {
  border: $borderDanger;
}
body .ui-inputtext:enabled:hover:not(.ui-state-error) {
  border-color: $verdeCorporativo;
}
body .ui-inputtext:enabled:focus:not(.ui-state-error) {
  outline: 0 none;
  outline-offset: 0;
  @include shadow($shadowVerde);
  border-color: $verdeLogoDiputacion;
}
body p-inputmask.ng-dirty.ng-invalid > .ui-inputtext {
  border: $borderDanger;
}
