#noticias {
  .row.principal {
    display: block;
    .bordeVerde {
      border: 5px solid $primaryColor;
    }

    div.seccion-noticias {

      .primera-fila {
        display: flex;
        justify-items: flex-start;
        align-items: flex-start;
        .imagen-principal {
          a {
            text-decoration: none;
            p {
              padding: 0 !important;
              margin: 0 !important;
            }

            
          }
        }
      }
      .segunda-fila {
        a {
          
        }
        p {
          padding: 0;
          line-height: 1em;
        }
      }

      
    }
  }
}
