@import "./colores_layout";
@import url(http://plandirng.dipujaen.es/dcdn/adminpro/main/scss/icons/themify-icons/themify-icons.css);
@import url(http://plandirng.dipujaen.es/dcdn/adminpro/main/scss/icons/material-design-iconic-font/css/materialdesignicons.min.css);

/*******************
 Header
*******************/
.topbar {
  position: relative;
  z-index: 50;
  .navbar-collapse {
    padding: 0 10px;
  }
  .top-navbar {
    min-height: 70px;
    padding: 0px;
    .dropdown-toggle::after {
      display: none;
    }
    .navbar-header {
      line-height: 55px;
      padding-left: 10px;
      .navbar-brand {
        margin-right: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        .light-logo {
          display: none;
        }
        b {
          line-height: 70px;
          display: inline-block;
        }
      }
    }
    .navbar-nav > .nav-item > .nav-link {
      padding-left: 15px;
      padding-right: 15px;
      font-size: 17px;
      line-height: 54px;
    }
    .navbar-nav > .nav-item > span {
      line-height: 65px;
      font-size: 24px;
      font-weight: 500;
      color: $white;
      padding: 0 10px;
    }
    .navbar-nav > .nav-item.show {
      background: $dark-transparent;
    }
    .navbar-nav > * > .nav-item > .nav-link {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 17px;
        line-height: 54px;
      }
      .navbar-nav > * > .nav-item > span {
        line-height: 65px;
        font-size: 24px;
        font-weight: 500;
        color: $white;
        padding: 0 10px;
      }
      .navbar-nav > * > .nav-item.show {
        background: $dark-transparent;
      }
  }
  .profile-pic {
    width: 30px;
    border-radius: 100%;
  }
  .dropdown-menu {
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
    border-color: $border;
    .dropdown-item {
      padding: 7px 1.5rem;
    }
  }
}
