.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 45px 50px 1fr 1fr;
  grid-template-areas:
    "header"
    "sidebar"
    "content"
    "footer";

  .header {
    grid-area: header;
  }
  .sidebar {
    grid-area: sidebar;
  }
  .contenido {
    grid-area: content;
  }
  .footer {
    grid-area: footer;
  }

  /* Contenedor Principal */
  .contenedor {
    width: 95%;
    max-width: 1900px;
    margin: auto;
  }

  .contenedor-pestanas {
    .navegacion {
      background: #fff;
      font-size: 10px;
      height: 15px;
      padding: 10px 15px 5px 30px;
      ul {
        background: #fff asset($baseUrlAssets, $carpetaImages, "pattern.png")
          repeat-x left bottom;
        height: 17px;
        margin-top: 3px;
        li {
          display: inline;
          float: left;
          padding-right: 4px;
        }
      }
    }
  }
}
