.grid {
  display: grid;
  grid-template-columns: 210px 1fr;
  grid-template-rows: 35px 1fr;
  grid-template-areas:
    "header header"
    "sidebar content";

  .header {
    grid-area: header;
  }
  .sidebar {
    grid-area: sidebar;
  }
  .contenido {
    grid-area: content;
    margin-top: 10px;
  }
  .footer {
    grid-area: footer;
  }

  /* Contenedor Principal */
  .contenedor {
    width: 95%;
    max-width: 1900vw;
    margin: auto;
  }

  /* Sistema de pestañas del home */
  #pestanas {
    #navegacion {
      ul.ui-tabview-nav {
        position: fixed;
        top: -1px;
        z-index: $zindexTabsNavegacion;
        max-width: 675px;

        li.ui-state-active {
          box-shadow: 6px 0px 10px 0px rgba(0, 0, 0, 0.35);
        }
      }
      .ui-tabview-panels {
        border: 0;
      }
    }
  }
  #secondarytabs {
    border: 2px solid red;
    font-size: 30px;
  }
}

.body-collapsed {
  .grid {
    grid-template-columns: 50px 1fr;
  }
  #pestanas {
    #navegacion {
      ul.ui-tabview-nav {
        left: 213px;
      }
    }
  }
}
