.sidebar {
  position: fixed;
  width: 100%;
  top: 45px;
  z-index: 2000;

  .contenedor-menu {
    background: #f6f6f6;
    width: 100%;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);

    .contenedor-menu-enlaces {
      /* Barra de Menu */
      .ui-tieredmenu {
        width: 100%;
        ul[role="menubar"] {
          padding: 5px 0;
          list-style-type: none;
          /* Elemento del Menu */
          .ui-menuitem {
            padding: 5px 10px;
            font-size: 13px;
            color: #333;
            border: 1px solid transparent;
            text-transform: uppercase;
            white-space: pre;
            cursor: pointer;
            &:hover {
              transition: border 0.5s;
              border: 1px solid rgba(#8ea22d, 0.7);
              border-radius: 3px;
            }
            /* Enlace Menu */
            .ui-menuitem-link {
              .ui-menuitem-icon {
                width: 15px;
              }
            }

            /* Submenu */
            p-tieredmenusub {
              position: relative;
              .ui-submenu-list {
                background: #f6f6f6;
                position: absolute;
                width: auto;
                top: 12px !important;
                left: -9px !important;
                z-index: -1 !important;
                border: 0;
                grid-template-columns: auto auto;
                grid-template-rows: 1fr;
                box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
                padding: 10px 10px;
                animation-name: submenu;
                animation-duration: 0.3s;
                animation-timing-function: ease;
                animation-iteration-count: 1;
              }
            }
          }
          .ui-menuitem-active {
            .ui-submenu {
              .ui-submenu-list {
                display: grid;

                .ui-menuitem-active {
                  &:hover {
                    border: 1px solid transparent;
                    text-decoration: underline;

                    .ui-menuitem-link {
                      color: #8ea22d !important;
                      .ui-menuitem-text {
                        color: #8ea22d !important;
                      }
                    }
                    .ui-menuitem-icon {
                      color: #8ea22d;
                    }
                  }
                }
              }
            }
          }
        }
        .ui-menuitem-icon {
          margin-right: 0.55em;
        }
      }
    }
  }
}
.sidebar.lateral {
  .contenedor-menu {
    background: #f8f8f8;
    width: 200px;
    height: 100vh;
    padding: 0;
    margin: 0;
    border-left: 1px solid rgba(120, 130, 140, 0.13);
    .contenedor-menu-enlaces {
      width: 100%;
      .ui-tieredmenu {
        display: block;
        width: 100%;
        ul {
          width: 100%;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          position: fixed;
          left: 0;
          margin: 0 auto;
        }
        .ui-menuitem-link {
          .ui-menuitem-icon {
            display: inline;
            padding-right: 10px;
          }
        }
      }
    }
  }
}




$widthMenuExpanded: 200px;
$widthMenuCollapsed: 45px;
$zindexMenu: 2000;
$sidebarBgColor: #8ea22d;
$sidebarHoverBgColor: #4d4d4d;


/* Estilos para menu lateral */
.menu-collapsed {
  width: $widthMenuCollapsed;
}
.menu-expanded {
  width: $widthMenuExpanded;
}
.separator {
  border-bottom: 1px solid rgba(255,255,255,0.7);
  height: 2px;
}
#sidebar {
  color: #fff;
  background: $sidebarBgColor;
  position: fixed;
  height: 100vh;  
  top: 35px;
  left: 0;
  z-index: $zindexMenu;

  #profile {
    
    padding: 10px;
    text-align: center;
    background: #ccc;
    .usuario {   
      font-size: 13px;   
      padding: 10px;
      overflow: hidden;
    }
    .foto {
      padding: 10px;  
      margin: 0 auto;
       
      width: 100%;

      img {
        border-radius: 50%;
        width: 40%;
        box-shadow: 0 0 10px rgba(0,0,0,.5);
      }

    }



  }

  #menu-items {
    .modulos {
      letter-spacing: .5px;
      font-weight: 700;
      font-size: 11px;
      margin-bottom: 0;
      margin-top: 0;
      padding: 5px;
      text-shadow: 1px 1px #000;
      color: #f1f1f1;

    }
    .ui-tieredmenu {
      width: 100%;
    }
    .ui-tieredmenu ul{
      
    }

    overflow: hidden;
    li.ui-menuitem {
      width: $widthMenuExpanded;
      a.ui-menuitem-link{
        text-decoration: none;
        padding: 10px;
        display: block;
        &:hover {
          background: red;
        }

      }
      span.ui-menuitem-icon {
        color:#f8f8f8;
        display: inline-block;
        font-size: 16px;
        padding: 10px;
        vertical-align: middle;
        overflow: hidden;        
      span.ui-menuitem-text{
        color:#f8f8f8;
        font-size: 14px;
        vertical-align: middle;
        overflow: hidden;
        display: inline-block;

      }

      }
    }





    /* Todos enlaces menu */
    a.ui-menuitem-link {
     
    }
  }



}

@keyframes submenu {
  0% {
    opacity: 0;
    top: -36px;
    transform: translateY(-50%);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 12px;
    transform: translateY(0%);
  }
}
