body .ui-panelmenu .ui-icon {
    position: static;
  }
  body .ui-panelmenu .ui-panelmenu-header {
    padding: 0;
  }
  body .ui-panelmenu .ui-panelmenu-header > a {
    border: 1px solid #c8c8c8;
    background-color: #f4f4f4;
    color: #333333;
    padding: 0.714em 0.857em;
    font-weight: 700;
    position: static;
    font-size: 14px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-transition: background-color 0.2s, box-shadow 0.2s;
    -o-transition: background-color 0.2s, box-shadow 0.2s;
    -webkit-transition: background-color 0.2s, box-shadow 0.2s;
    transition: background-color 0.2s, box-shadow 0.2s;
  }
  body .ui-panelmenu .ui-panelmenu-header > a .ui-panelmenu-icon {
    color: #848484;
  }
  body .ui-panelmenu .ui-panelmenu-header > a:focus {
    outline: 0 none;
    outline-offset: 0;
    -webkit-box-shadow: 0 0 0 0.2em #8dcdff;
    -moz-box-shadow: 0 0 0 0.2em #8dcdff;
    box-shadow: 0 0 0 0.2em #8dcdff;
  }
  body .ui-panelmenu .ui-panelmenu-header:not(.ui-state-active) > a:hover {
    outline: 0 none;
    border: 1px solid #dbdbdb;
    background-color: #dbdbdb;
    color: #333333;
  }
  body .ui-panelmenu .ui-panelmenu-header:not(.ui-state-active) > a:hover .ui-panelmenu-icon {
    color: #333333;
  }
  body .ui-panelmenu .ui-panelmenu-header.ui-state-active > a {
    border: 1px solid #007ad9;
    background-color: #007ad9;
    color: #ffffff;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  body .ui-panelmenu .ui-panelmenu-header.ui-state-active > a .ui-panelmenu-icon {
    color: #ffffff;
  }
  body .ui-panelmenu .ui-panelmenu-header.ui-state-active > a:hover {
    outline: 0 none;
    border: 1px solid #005b9f;
    background-color: #005b9f;
    color: #ffffff;
  }
  body .ui-panelmenu .ui-panelmenu-header.ui-state-active > a:hover .ui-panelmenu-icon {
    color: #ffffff;
  }
  body .ui-panelmenu .ui-panelmenu-panel {
    margin-top: 2px;
  }
  body .ui-panelmenu .ui-panelmenu-panel:first-child {
    margin-top: 0;
  }
  body .ui-panelmenu .ui-panelmenu-content {
    padding: 0;
    background-color: #ffffff;
    border: 1px solid #c8c8c8;
    margin-top: 0;
    position: static;
    border-top: 0 none;
  }
  body .ui-panelmenu .ui-panelmenu-content .ui-menuitem {
    margin: 0;
  }
  body .ui-panelmenu .ui-panelmenu-content .ui-menuitem .ui-menuitem-link {
    padding: 0.714em 0.857em;
    color: #333333;
    font-weight: normal;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-transition: box-shadow 0.2s;
    -o-transition: box-shadow 0.2s;
    -webkit-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
    user-select: none;
  }
  body .ui-panelmenu .ui-panelmenu-content .ui-menuitem .ui-menuitem-link .ui-menuitem-text {
    color: #333333;
  }
  body .ui-panelmenu .ui-panelmenu-content .ui-menuitem .ui-menuitem-link .ui-menuitem-icon {
    color: #333333;
    margin-right: 0.5em;
  }
  body .ui-panelmenu .ui-panelmenu-content .ui-menuitem .ui-menuitem-link:not(.ui-state-disabled):hover {
    background-color: #eaeaea;
  }
  body .ui-panelmenu .ui-panelmenu-content .ui-menuitem .ui-menuitem-link:not(.ui-state-disabled):hover .ui-menuitem-text {
    color: #333333;
  }
  body .ui-panelmenu .ui-panelmenu-content .ui-menuitem .ui-menuitem-link:not(.ui-state-disabled):hover .ui-menuitem-icon {
    color: #333333;
  }
  body .ui-panelmenu .ui-panelmenu-content .ui-menuitem .ui-menuitem-link:focus {
    outline: 0 none;
    outline-offset: 0;
    -webkit-box-shadow: inset 0 0 0 0.2em #8dcdff;
    -moz-box-shadow: inset 0 0 0 0.2em #8dcdff;
    box-shadow: inset 0 0 0 0.2em #8dcdff;
  }
  body .ui-panelmenu .ui-panelmenu-content .ui-menuitem .ui-menuitem-link.ui-menuitem-link-active .ui-menuitem-text {
    color: #007ad9;
  }
  body .ui-panelmenu .ui-panelmenu-content .ui-menuitem .ui-menuitem-link.ui-menuitem-link-active .ui-menuitem-icon {
    color: #007ad9;
  }