/*
  @autor: NOVA0011 - Alberto Ogayar
*/
// -----------------------------------------------------------------------------
// Componente Acordeon
// -----------------------------------------------------------------------------

body .ui-accordion .ui-accordion-header {
  margin-bottom: 2px;
}
body .ui-accordion .ui-accordion-header a {
  padding: 0.571em 1em;
  border: 1px solid $borderColor;
  background-color: $colorLigeroFondo;
  color: $colorTexto;
  font-weight: 700;
  @include border-radius(3px);
  @include transition(background-color 0.2s, box-shadow 0.2s);
}
body .ui-accordion .ui-accordion-header a .ui-accordion-toggle-icon {
  color: $colorIconos;
}
body .ui-accordion .ui-accordion-header a:focus {
  outline: 0 none;
  outline-offset: 0;
  @include shadow(0 0 0 0.2em #b8ce4e);
}
body
  .ui-accordion
  .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover
  a {
  background-color: #dbdbdb;
  border: 1px solid #dbdbdb;
  color: $colorTextoHover;
}
body
  .ui-accordion
  .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover
  a
  .ui-accordion-toggle-icon {
  color: $colorTextoHover;
}
body
  .ui-accordion
  .ui-accordion-header:not(.ui-state-disabled).ui-state-active
  a {
  background-color: $verdeCorporativo;
  border: 1px solid $verdeCorporativo;
  color: $colorTextoBlanco;
}
body
  .ui-accordion
  .ui-accordion-header:not(.ui-state-disabled).ui-state-active
  a
  .ui-accordion-toggle-icon {
  color: $colorTextoBlanco;
}
body
  .ui-accordion
  .ui-accordion-header:not(.ui-state-disabled).ui-state-active:hover
  a {
  border: 1px solid $verdeCorporativoDark;
  background-color: $verdeCorporativoDark;
  color: $colorTextoBlanco;
}
body
  .ui-accordion
  .ui-accordion-header:not(.ui-state-disabled).ui-state-active:hover
  a
  .ui-accordion-toggle-icon {
  color: $colorTextoBlanco;
}
body .ui-accordion .ui-accordion-content {
  padding: 0.571em 1em;
  border: 1px solid $borderColor;
  background-color: $colorDefectoFondo;
  color: #333333;
  padding: 0.571em 1em;
}
