/** Breadcrumb **/
body .ui-breadcrumb {
  background-color: $primaryTextColor;
  border: 1px solid $primaryColor;
  font-size: 13px;
  padding: 0.571em 1em;
  @include border-radius($breadcrumBorderRadius);

  ul li .ui-menuitem-link {
    display: inline-block;
    vertical-align: top;
    color: #333333;
    padding: 0;
    margin: 0;
    @include transition($breadcrumTransition);

    &:focus {
      outline: 0 none;
      outline-offset: 0;
      font-weight: bold;
      color:$primaryColor;
    
      //@include shadow($breadcrumShadow);
    }
    
  }
  ul li.ui-breadcrumb-chevron {
    margin: 0 0.5em 0 0.5em;
    color: $primaryColor;
  }
  ul li:first-child a {
    color: $primaryColor;
    margin: 0;
  }
  ul li .ui-menuitem-icon {
    color: $primaryColor;
    font-weight: bold;
  }
}
