/*
  @autor: NOVA0011 - Alberto Ogayar
*/


// -----------------------------------------------------------------------------
// Variables para Breadcrumbs
// -----------------------------------------------------------------------------

$breadcrumbTransition: 0.3s ease;

// ------------------------------------------------------------------------------------
// Este fichero contiene todos los estilos del componente migas de pan
// ------------------------------------------------------------------------------------


body {
  .ui-breadcrumb {
    background-color: $colorDefectoFondo;    

    ul {
      margin: 25px 0px 0px;
      padding: 0px;
      font-size: 0px;
      line-height: 0px;
      @include inline;
      height: 40px;
      
      li {
        position: relative;
        margin: 0px 0px;
        padding: 0px;
        list-style: none;
        list-style-image: none;
        @include inline;
        border-left: 1px solid #ccc;
        transition: $breadcrumbTransition;

        &.ui-breadcrumb-chevron {            
            display: none;
        }

        &:hover {
          &:before {
            border-left: 10px solid $verdeCorporativo;
          }

          a {
            color: $negro;
            background: $verdeCorporativo;
          }
        }

        &:before {
          content: "";
          position: absolute;
          right: -9px;
          top: -1px;
          z-index: 20;
          border-left: 10px solid #fff;
          border-top: 22px solid transparent;
          border-bottom: 22px solid transparent;
          transition: $breadcrumbTransition;
        }

        &:after {
          content: "";
          position: absolute;
          right: -10px;
          top: -1px;
          z-index: 10;
          border-left: 10px solid #ccc;
          border-top: 22px solid transparent;
          border-bottom: 22px solid transparent;
        }

        &.ui-menuitem-link {
          a {
            color: $negro;
            background: $verdeCorporativo;
          }
        }

        &.first {
          border-left: none;

          a {
            font-size: 18px;
            padding-left: 20px;
            border-radius: 5px 0px 0px 5px;
          }
        }      

        a {
          display: block;
          font-size: 12px;
          line-height: 40px;
          color: $gris;
          padding: 0px 15px 0px 25px;
          text-decoration: none;
          background: $colorDefectoFondo;
          border: 1px solid #ddd;
          white-space: nowrap;
          overflow: hidden;
          transition: $breadcrumbTransition;
        }
      }
    }
  }
}
