
body .ui-dataview .ui-dataview-header {
    background-color: #f4f4f4;
    color: #333333;
    border: 1px solid #c8c8c8;
    padding: 0.571em 1em;
    font-weight: 700;
    border-bottom: 0 none;
  }
  body .ui-dataview .ui-dataview-content {
    padding: 0.571em 1em;
    border: 1px solid #c8c8c8;
    background-color: #ffffff;
    color: #333333;
    padding: 0.571em 1em;
  }
  body .ui-dataview .ui-dataview-footer {
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #c8c8c8;
    padding: 0.571em 1em;
    border-top: 0 none;
  }
  body .ui-dataview .ui-dataview-layout-options .ui-button {
    -moz-transition: background-color 0.2s, box-shadow 0.2s;
    -o-transition: background-color 0.2s, box-shadow 0.2s;
    -webkit-transition: background-color 0.2s, box-shadow 0.2s;
    transition: background-color 0.2s, box-shadow 0.2s;
  }
  body .ui-dataview .ui-dataview-layout-options .ui-button:focus {
    outline: 0 none;
    outline-offset: 0px;
    -webkit-box-shadow: 0 0 0 0.2em #8dcdff;
    -moz-box-shadow: 0 0 0 0.2em #8dcdff;
    box-shadow: 0 0 0 0.2em #8dcdff;
    z-index: 1;
  }
  