body {
  .ui-tabview {
    padding: 0.25em;
    .ui-tabview-nav {
      margin: 0;
      li {
        list-style: none;
        float: left;
        position: relative;
        margin: 0 0.125em 1px 0;
        padding: 0;
        white-space: nowrap;
        background-color: $primaryColor;
        display: block;
        font-size: 14px;
        a {
          float: left;
          padding: 0.5em 1em;
          text-decoration: none;
          color: #fff;
        }
        
      }

      
      li.ui-state-active,
      li.ui-tabview-selected a,
      li.ui-state-disabled a,
      li.ui-state-processing a {
        cursor: text;
        background-color: $primaryDarkColor;
        color: $primaryTextColor;        
      }
    }

    .ui-tabview-panel {
      background: none;
      background-color: #fff;
      padding: 1em 1em;
      border: 1px solid $primaryColor;
      color: #333333;
      font-size: 14px;
    }
  
    .ui-tabview-nav li .ui-tabview-left-icon {
      margin-right: 0.25em;
      vertical-align: middle;
    }
  
    .ui-tabview-nav li .ui-tabview-right-icon {
      margin-left: 0.25em;
      vertical-align: middle;
    }
  
    .ui-tabview-title {
      vertical-align: middle;
    }
  
    .ui-tabview-nav li .ui-tabview-close {
      margin: 1.3em 0.7em 0 0;
      font-size: 11px;      
      font-weight: bold;
      cursor: pointer;
    }

    .ui-tabview-nav li a,
    .ui-tabview.ui-tabview-collapsible .ui-tabview-nav li.ui-tabview-selected a {
      cursor: pointer;
    }
  }
}