body {
  .ui-tabview {
    padding: 0.25em;
    .ui-tabview-nav {
      margin: 0;
      li {        
        list-style: none;
        float: left;
        position: relative;
        margin: 0 0.125em 1px 0;
        padding: 0;
        white-space: nowrap;
        background-color: $primaryColor;
        display: block;
        font-size: 13px;
        a {
          float: left;
          padding: 0.5em 1em;
          text-decoration: none;
          color: #fff;
        }
        
      }
      li.ui-state-active:hover {
         background-color: $primaryColor !important;
         border-color: $primaryColor !important;         
      }
      
      li.ui-state-active,
      li.ui-tabview-selected a,
      li.ui-state-disabled a,
      li.ui-state-processing a {
        // cursor: text;
        // background-color: $primaryDarkColor;
        // color: $primaryTextColor;        
      }
    }

  .ui-tabview .ui-tabview-nav li .ui-tabview-right-icon {
    margin-left: 0.25em;
    vertical-align: middle;
  }

  .ui-tabview .ui-tabview-title {
    vertical-align: middle;
  }

  .ui-tabview .ui-tabview-nav li .ui-tabview-close {
    vertical-align: middle;
    cursor: pointer;
    // color: #4D4D4D;
    // margin: 1.3em 0.5em 0 0;
    // vertical-align: middle;
    // font-weight: bold;
    // font-size: 0.75em;
  }

  /* per orientation settings */
  /* top and bottom */
  .ui-tabview.ui-tabview-top > .ui-tabview-nav li {
    border-bottom: 0;
    top: 1px;
  }

  .ui-tabview.ui-tabview-top > .ui-tabview-nav {
    padding: 0.2em 0.2em 0;
  }

  .ui-tabview.ui-tabview-bottom > .ui-tabview-nav {
    padding: 0 0.2em 0.2em;
  }

  .ui-tabview.ui-tabview-bottom > .ui-tabview-nav li {
    border-top: 0;
  }

  /* left and right*/
  .ui-tabview-left::after,
  .ui-tabview-right::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
  }

  .ui-tabview-left > .ui-tabview-nav {
    float: left;
    width: 25%;
    height: 300px;
    background-image: none;
    padding-top: 1px;
  }

  .ui-tabview-left > .ui-tabview-panels {
    float: right;
    width: 75%;
  }

  .ui-tabview.ui-tabview-left > .ui-tabview-nav li,
  .ui-tabview.ui-tabview-right > .ui-tabview-nav li {
    display: block;
    float: right;
    white-space: normal;
    width: 99%;
  }

  .ui-tabview.ui-tabview-left > .ui-tabview-nav li {
    margin: 0 0 1px 0;
    border-right: 0 none;
  }

  .ui-tabview.ui-tabview-right > .ui-tabview-nav {
    float: right;
    width: 25%;
    height: 300px;
    background-image: none;
    padding-top: 1px;
  }

  .ui-tabview.ui-tabview-right > .ui-tabview-panels {
    float: left;
    width: 75%;
  }

  .ui-tabview.ui-tabview-right > .ui-tabview-nav li {
    margin: 0 0 1px 0;
    border-left: 0 none;
  }

  /* RTL */
  .ui-rtl .ui-tabview .ui-tabview-nav li {
    float: right;
  }

  /** TabMenu **/
  .ui-tabmenu .ui-tabmenu-nav {
    margin: 0;
    padding: 0.25em 0.5em 0 0.25em;
  }

  .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem {
    list-style: none;
    float: left;
    position: relative;
    margin: 0 0.2em 1px 0;
    padding: 0;
    white-space: nowrap;
    display: block;
    border-bottom: 0;
    top: 1px;
  }

  .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a {
    float: left;
    padding: 0.5em 1em;
    text-decoration: none;
    cursor: pointer;
  }

  .ui-tabmenu .ui-tabmenu-nav a {
    padding: 0.5em 1em;
  }

  .ui-tabmenu .ui-menuitem-icon {
    margin-right: 0.25em;
    vertical-align: middle;
  }

  .ui-tabmenu .ui-menuitem-text {
    vertical-align: middle;
  }
    .ui-tabview-panel {
      background: none;
      background-color: #fff;
      padding: 1em 1em;
      border: 1px solid $primaryColor;
      color: #333333;
      font-size: 14px;
    }
  
    .ui-tabview-nav li .ui-tabview-left-icon {
      margin-right: 0.25em;
      vertical-align: middle;
    }
  
    .ui-tabview-nav li .ui-tabview-right-icon {
      margin-left: 0.25em;
      vertical-align: middle;
    }
  
    .ui-tabview-title {
      vertical-align: middle;
    }
  
    .ui-tabview-nav li .ui-tabview-close {
      margin: 1.3em 0.7em 0 0;
      font-size: 11px;      
      font-weight: bold;
      cursor: pointer;
    }

    .ui-tabview-nav li a,
    .ui-tabview.ui-tabview-collapsible .ui-tabview-nav li.ui-tabview-selected a {
      cursor: pointer;
    }
  }
}