body {
  .ui-table {
    position: relative;

    .ui-table-caption {
      padding: 0.25em 0.5em;
      text-align: center;
      font-weight: $tableCaptionFontWeight;
      background-color: $tableCaptionBgColor;
      color: $tableCaptionTextColor;
      border: $tableHeaderCellBorder;
      padding: $tableHeaderCellPadding;
      text-align: center;
      border-bottom: 0 none;
    }

    .ui-table-summary {
      border-top: 0 none;
      font-weight: $tableSummaryFontWeight;
    }

    .ui-table-scrollable-wrapper {
      position: relative;

      .ui-table-scrollable-view {
        position: relative;
        .ui-table-scrollable-header {
          .ui-table-scrollable-header {
            overflow: hidden;
            border: 0 none;
            width: 1539px;
            .ui-table-scrollable-header-box {
              margin-right: 17px;
              margin-left: 0px;
            }
          }
        }
      }
    }

    .ui-table-thead > tr > th {
      font-size: $tableHeaderCellFontSize;
      padding: $tableHeaderCellPadding;
      border: $tableHeaderCellBorder;
      font-weight: $tableHeaderCellFontWeight;
      color: $tableHeaderCellTextColor;
      background-color: $tableHeaderCellBgColor;
      &:hover {
        background-color: $tableHeaderCellHoverBgColor;
        color: $tableHeaderCellHoverTextColor;
      }
    }

    /* Body Table */
    .ui-table-scrollable-body {
      overflow: auto;
      position: relative;
    }

    .ui-table-tbody > tr {
      background-color: $tableBodyRowBgColor;
      color: $tableBodyRowTextColor;
    }

    .ui-table-tbody > tr > td {
      background-color: inherit;
      border: $tableBodyCellBorder;
      padding: $tableBodyCellPadding;
      font-size: $tableBodyCellfontSize;
      //   width: 9em;
      //   text-align: center;
    }

    .ui-table-tbody > tr:nth-child(even) {
      background-color: $tableBodyRowEvenBgColor;
    }

    .ui-table-tbody > tr.ui-selectable-row:hover {
      background-color: $tableBodyRowHoverBgColor;
    }

    .ui-table-tbody > tr.ui-selectable-row.ui-state-highlight {
      cursor: pointer;
      background-color: $tableRowBgColorSelected;
      color: $tableBodyRowHoverTextColor;
    }
  }
  table {
    border-collapse: collapse;
    table-layout: fixed;
  }

  .ui-chkbox {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    .ui-helper-hidden-accessible {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    .ui-chkbox-box {
      line-height: 1.125em;
      border: 1px solid #a6a6a6;
      background-color: #ffffff;
      text-align: center;
      width: 20px;
      height: 20px;
      border-radius: 3px;
      transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;      
    }
    .ui-chkbox-box.ui-state-focus {
      outline: 0 none;
      outline-offset: 0;
      box-shadow: 0 0 0 0.2em $primaryColor;
      border-color: red;
    }
    .ui-chkbox-box.ui-state-active:not(.ui-state-disabled):hover {
      border-color: #005b9f;
      background-color: #005b9f;
      color: #ffffff;
    }
  }
}
