/*
  @autor: NOVA0011 - Alberto Ogayar
*/

// -----------------------------------------------------------------------------
//  Declaramos aqui todos los mixin que usaremos en PlandirNG
// -----------------------------------------------------------------------------


/* Dibuja un icono a la derecha del elemente */ 
@mixin icon-override($icon) {    
  &:before {
      content: $icon;
  }
} 

/* Dibuja un icono font-awesome a la derecha del elemente */
@mixin icon-override-fa($icon) {    
  background: none;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-indent: 0px !important;
  text-align: center;
  
  &:before {
      content: $icon;
  }
}

/* Usa display flex */ 
@mixin flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

/* Para hacer que un elemento cambie su aparariencia */
@mixin appearance($val) {
  -webkit-appearance: $val;
  -moz-appearance: $val;
  appearance: $val;
}

/* Para cambiar el modelo de caja  */
@mixin box-sizing($val) {
  -webkit-box-sizing: $val;
  -moz-box-sizing: $val;
  box-sizing: $val;
}

/* Para crear gradientes lineales to bottom*/
/* @param color */
@mixin linear-gradient($val) {
  background: linear-gradient(180deg, $val 0%, darken($val,10%) 100%);  
}

/* Para crear una transicion */
@mixin transition($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}

/*Sombras para los elementos con foco */
@mixin focused-input() {
  border-color: $inputFocusBorderColor;
  outline: 0 none;
  @include shadow($inputFocusShadow);
}

/* Fondo para el estado hover del componente */
@mixin hover-input() {
  outline: 0 none;
  background-color: rgba(0, 0, 0, 0.1);
  color: $verdeCorporativo;
}

/* Fondo verde corporativo, texto blanco */
%state-highlight {
  background-color: $highlightBgColor;
  color: $colorTextoBlanco;            
}
 
/* Estilo para los componentes deshabilitados */
@mixin disabled-input() {
  border-color: $inputDisabledBorderColor;
  background-color: $inputDisabledBgColor;
  color: $inputDisabledTextColor;
  cursor: default !important;
  pointer-events: none;
}

/* Para incluir sombra */
@mixin shadow($value) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}

/* Para los bordes redondeados */
@mixin border-radius($val) {
  -moz-border-radius: $val;
  -webkit-border-radius: $val;
  border-radius: $val;
}

/* Bordes derecha redondeados */
@mixin border-radius-right($val) {
  -moz-border-radius-topright: $val;
  -webkit-border-top-right-radius: $val;
  border-top-right-radius: $val;
  -moz-border-radius-bottomright: $val;
  -webkit-border-bottom-right-radius: $val;
  border-bottom-right-radius: $val; 
}

/* Bordes izquierda redondeados */
@mixin border-radius-left($val) {
  -moz-border-radius-topleft: $val;
  -webkit-border-top-left-radius: $val;
  border-top-left-radius: $val;
  -moz-border-radius-bottomleft: $val;
  -webkit-border-bottom-left-radius: $val;
  border-bottom-left-radius: $val;
}

/* Bordes superiores redondeados */
@mixin border-radius-top($val) {
  -moz-border-radius-topleft: $val;
  -webkit-border-top-left-radius: $val;
  border-top-left-radius: $val;
  -moz-border-radius-topright: $val;
  -webkit-border-top-right-radius: $val;
  border-top-right-radius: $val;
}

/* Bordes inferiores redondeados */
@mixin border-radius-bottom($val) {
  -moz-border-radius-bottomleft: $val;
  -webkit-border-bottom-left-radius: $val;
  border-bottom-left-radius: $val;
  -moz-border-radius-bottomright: $val;
  -webkit-border-bottom-right-radius: $val;
  border-bottom-right-radius: $val;
}

/* Para incluir transparencia */
@mixin opacity($opacity) {
opacity: $opacity;
$opacity-ie: $opacity * 100;
filter: alpha(opacity=$opacity-ie);
}

/* Rotar un elemento */
@mixin rotate($deg) {    
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -o-transform: rotate($deg);
  -ms-transform: rotate($deg);
  transform: rotate($deg);
}

/* Escalar un elemento */
@mixin scale($deg) {    
  -webkit-transform: scale($deg);
  -moz-transform: scale($deg);
  -o-transform: scale($deg);
  -ms-transform: scale($deg);
  transform: scale($deg);
} 

/* Display inline-block */
@mixin inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}


/* Para incluir texto provisional en un elemento input o textarea */
@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

