
// ========================================================================================
// Esquema de colores principales
// ========================================================================================

// $primaryColor:#698e02;
// $secondaryColor: #4d4d4d;
// $terciaryColor:#286090;

$primaryColor:#8EA22D;
$primaryDarkColor:#4d4d4d;
$primaryDarkerColor:#005b9f;
$primaryTextColor:#ffffff;

$primaryDarken: darken($primaryColor, 20%);

$grisCorporativoColor:#4D4D4D;
$azulCorporativoColor:#286090;






// ========================================================================================
// Estilos Globales
// ========================================================================================

//Global
$fontFamily:"Open Sans","Helvetica Neue",sans-serif;
$fontSize:14px;
$textColor:#333333;
$textSecondaryColor:lighten($textColor,25%);
$borderRadius:3px;
$transitionDuration:.3s;

//FontAwesome
$paddingRightFawesome:5px;

//highlight
$highlightBgColor:$primaryColor;
$highlightColorText:$primaryTextColor;

// ========================================================================================
// Personalizacion de los botones
// ========================================================================================

//=====================
// Boton principal
//=====================
$buttonTextOnlyPadding:0.429em 1em;
$buttonWithLeftIconPadding:0.429em 1em 0.429em 2em;
$buttonWithRightIconPadding:0.429em 2em 0.429em 1em;
$buttonIconOnlyPadding:0.429em;
$buttonIconOnlyWidth:2.143em;
$buttonBgColor:$primaryColor;
$buttonBorder:1px solid $primaryColor;
$buttonTextColor:$primaryTextColor;
$buttonTransition:background-color $transitionDuration;
$raisedButtonShadow:0 2px 3px 0 rgba(0, 0, 0, 0.15);
$roundedButtonBorderRadius:15px;
$disabledOpacity:.5;                      

// hover
$buttonHoverBgColor:$grisCorporativoColor;
$buttonHoverTextColor:$primaryTextColor; //blanco
$buttonHoverBorderColor:$grisCorporativoColor;
// active
$buttonActiveBgColor:$azulCorporativoColor;
$buttonActiveTextColor:$primaryTextColor;
$buttonActiveBorderColor:$azulCorporativoColor;
// focus
$buttonFocusBorderColor:$azulCorporativoColor;
$buttonFocusOutline:0 none;
$buttonFocusOutlineOffset:0px;

//=====================
// Boton Secundario
//=====================
$secondaryButtonBgColor:#f4f4f4;
$secondaryButtonBorder:1px solid #f4f4f4;
$secondaryButtonTextColor:#333333;
// hover
$secondaryButtonHoverBgColor:#c8c8c8;
$secondaryButtonHoverTextColor:#333333;
$secondaryButtonHoverBorderColor:#c8c8c8;
// active
$secondaryButtonActiveBgColor:#a0a0a0;
$secondaryButtonActiveTextColor:#333333;
$secondaryButtonActiveBorderColor:#a0a0a0;

//=====================
// Boton Info
//=====================

$infoButtonBgColor:#007ad9;
$infoButtonBorder:1px solid #007ad9;
$infoButtonTextColor:#ffffff;
//hover
$infoButtonHoverBgColor:#116fbf;
$infoButtonHoverTextColor:#ffffff;
$infoButtonHoverBorderColor:#116fbf;
//active
$infoButtonActiveBgColor:#005b9f;
$infoButtonActiveTextColor:#ffffff;
$infoButtonActiveBorderColor:#005b9f;
//=====================
// Boton Info
//=====================
$successButtonBgColor:#34A835;
$successButtonBorder:1px solid #34A835;
$successButtonTextColor:#ffffff;
//hover
$successButtonHoverBgColor:#107D11;
$successButtonHoverTextColor:#ffffff;
$successButtonHoverBorderColor:#107D11;
//active
$successButtonActiveBgColor:#0C6B0D;
$successButtonActiveTextColor:#ffffff;
$successButtonActiveBorderColor:#0C6B0D;
//=====================
// Boton Warning
//=====================
$warningButtonBgColor:#ffba01;
$warningButtonBorder:1px solid #ffba01;
$warningButtonTextColor:#333333;
//hover
$warningButtonHoverBgColor:#ED990B;
$warningButtonHoverTextColor:#333333;
$warningButtonHoverBorderColor:#ED990B;
//active
$warningButtonActiveBgColor:#D38B10;
$warningButtonActiveTextColor:#333333;
$warningButtonActiveBorderColor:#D38B10;
//=====================
// Boton Danger
//=====================
$dangerButtonBgColor:#e91224;
$dangerButtonBorder:1px solid #e91224;
$dangerButtonTextColor:#ffffff;
//hover
$dangerButtonHoverBgColor:#c01120;
$dangerButtonHoverTextColor:#ffffff;
$dangerButtonHoverBorderColor:#c01120;
//active
$dangerButtonActiveBgColor:#a90000;
$dangerButtonActiveTextColor:#ffffff;
$dangerButtonActiveBorderColor:#a90000;


// ========================================================================================
// Personalizacion de las card
// ========================================================================================

$cardShadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);

// ========================================================================================
// Personalizacion de las card
// ========================================================================================
$breadcrumTransition:  box-shadow .3s;
$breadcrumShadow:  0 0 0 0.2em $primaryColor; 
$breadcrumBgColor: #ebebeb;
$breadcrumBorderRadius: 4px;


// ========================================================================================
// Personalizacion de las card
// ========================================================================================


//tabview
$tabsNavBorder:0 none;
$tabsNavBgColor:transparent;
$tabHeaderSpacing: 2px;
//panel common (e.g. accordion, panel, tabview)
$panelHeaderBorder:1px solid 
#c8c8c8;
$panelHeaderBgColor:
#f4f4f4;
$panelHeaderTextColor:
#333333;
$panelHeaderIconColor:
#848484;
$panelHeaderIconHoverColor:
#333333;
$panelHeaderIconTransition:color $transitionDuration, background-color $transitionDuration, box-shadow $transitionDuration;
$panelHeaderFontWeight:700;
$panelHeaderPadding:0.571em 1em;
$panelContentBorder:1px solid 
#c8c8c8;
$panelContentBgColor:
#ffffff;
$panelContentTextColor:$textColor;
$panelContentPadding:0.571em 1em;
$panelFooterBorder:1px solid 
#c8c8c8;
$panelFooterBgColor:
#ffffff;
$panelFooterTextColor:$textColor;
$panelFooterPadding:0.571em 1em;
$panelHeaderHoverBgColor:
#dbdbdb;
$panelHeaderHoverBorder:1px solid 
#dbdbdb;
$panelHeaderHoverTextColor:
#333333;
$panelHeaderHoverIconColor:
#333333;
$panelHeaderActiveBgColor:$primaryColor;
$panelHeaderActiveBorder:1px solid $primaryColor;
$panelHeaderActiveTextColor:
#ffffff;
$panelHeaderActiveIconColor:
#ffffff;
$panelHeaderActiveHoverBgColor:$primaryDarkerColor;
$panelHeaderActiveHoverBorder:1px solid $primaryDarkerColor;
$panelHeaderActiveHoverTextColor:
#ffffff;
$panelHeaderActiveHoverIconColor:
#ffffff;
$panelHeaderTransition: background-color $transitionDuration, box-shadow $transitionDuration;

$maskBgColor:rgba(0, 0, 0, 0.4);        //dialog mask
$inlineSpacing:.5em;                      //spacing between inline elements
$chipsItemMargin:0 .286em 0 0;            //autocomplete and chips token spacing
$dataIconColor:$textSecondaryColor;       //icon color of a data such as treetoggler, table expander
$dataIconHoverColor:$textColor;           //hover icon color of a data such as treetoggler, table expander
