/*
@autor: NOVA0011 - Alberto Ogayar
*/

// ========================================================================================
// Esquema de colores principales para Plandir
// ========================================================================================

$verdeCorporativo: #8ea22d;
$verdeCorporativoClear:#aec539;
$verdeCorporativoDark: #768626;
$verdeLogoDiputacion: #698e02;
$colorDefectoFondo: #ffffff;
$colorLigeroFondo: #f8f9fa;
$colorTextoBlanco: #ffffff;
$colorTexto: #333333;
$colorTextoHover: #67757c;
$borderColor: #a6a6a6;
$borde: 1px solid $borderColor;
$colorIconos: #848484;
$borderDanger: 1px solid #a80000;


$info: #516e86;
$warning: #ffba01;
$success: #39803a;
$danger: #e91224;
$error: #f8b7bd;
$azul: #286090;
$blanco: #ffffff;
$gris: #67757c;

/* Color primario para los bordes de los componentes */
$danger-dark: #e6294b;
$light: #e9edf2;
$themecolor: #398bf7;
$light-text: #a6b7bf;
$white: #ffffff;
$primary: #745af2;
$inverse: #2f3d4a;
$secondary: #cccccc;
$muted: #99abb4;
$dark: #263238;
$light: #e9edf2;
$extra-light: #ebf3f5;
$purple: #7460ee;
$blue: #02bec9;
$megna: #56c0d8;
$bglight: rgba(0, 0, 0, 0.02);
$negro: #000;

// ========================================================================================
// Variables para los Assets - CDN
// ========================================================================================
//$baseUrlCDN: "http://cdn.dipujaen.es/";
$baseUrlCDN: 'http://plandirng.dipujaen.es/cdn/';
$baseUrlAssets: $baseUrlCDN + "assets/";
$carpetaImages: "img/";
$carpetaFonts: "fonts/";
$carpetaIcons: "icons/";
$carpetaPlugins: "plugins/";
$baseUrlImages: $baseUrlAssets + $carpetaImages;
$baseUrlFonts: $baseUrlAssets + $carpetaFonts;

// ========================================================================================
// Estilos Globales
// ========================================================================================

//$fontFamily:"Open Sans";
//$fontFamily: "MyriadPro-Regular";
$fontFamily: "MyriadProRegular";
$fontSize: 13px;
$textColor: #333333;
$textSecondaryColor: lighten($textColor, 25%);
$borderRadius: 3px;
$transitionDuration: 0.3s;
$disabledOpacity: 0.5;
//iconos Primeicons
$sizeIcons: 1em;
$shadowVerde: 0 0 0 0.2em #7b8642;

//highlight
$highlightBgColor: $verdeCorporativo;
$highlightColorText: $colorTextoBlanco;
$border: rgba(120, 130, 140, 0.13);

$inputFocusBorderColor: $verdeCorporativo;
$inputFocusShadow: inset 0 0 0 0.2em $verdeCorporativo;
$inputBgColor: #ffffff;
$dark-transparent: rgba(0, 0, 0, 0.05);

//Colores para el login
$loginBoxShadow: 2px 5px 4px 0px rgba(0, 0, 0, 0.2);

// ========================================================================================
// Variables para el menu lateral 
// ========================================================================================

//=====================
// Boton principal
//=====================
$buttonTextOnlyPadding: 0.429em 1em;
$buttonWithLeftIconPadding: 0.429em 1em 0.429em 2em;
$buttonWithRightIconPadding: 0.429em 2em 0.429em 1em;
$buttonIconOnlyPadding: 0.429em;
$buttonIconOnlyWidth: 2.143em;
$buttonBgColor: $verdeCorporativo;
$buttonBorder: 1px solid $verdeCorporativo;
$buttonTextColor: $blanco;
$buttonTransition: background-color $transitionDuration;
$raisedButtonShadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
$roundedButtonBorderRadius: 15px;

// hover
$buttonHoverBgColor: #6e7e20;
$buttonHoverTextColor: $blanco;
$buttonHoverBorderColor: #6e7e20;
// active
$buttonActiveBgColor: #505f02;
$buttonActiveTextColor: $blanco;
$buttonActiveBorderColor: #505f02;
// focus
$buttonFocusShadow: 0 0 0 0.2em #7b8642;

//=====================
// Boton Secundario
//=====================
$secondaryButtonBgColor: #c8c8c8;
$secondaryButtonBorder: 1px solid #c8c8c8;
$secondaryButtonTextColor: #333333;
// hover
$secondaryButtonHoverBgColor: #8f8f8f;
$secondaryButtonHoverTextColor: #333333;
$secondaryButtonHoverBorderColor: #8f8f8f;

// focus
$secondaryFocusShadow: 0 0 0 0.2em #d8d6d6;

// active
$secondaryButtonActiveBgColor: #a0a0a0;
$secondaryButtonActiveTextColor: #333333;
$secondaryButtonActiveBorderColor: #a0a0a0;

//=====================
// Boton Info
//=====================

$infoButtonBgColor: #516e86;
$infoButtonBorder: 1px solid #516e86;
$infoButtonTextColor: $blanco;
//hover
$infoButtonHoverBgColor: #34536d;
$infoButtonHoverTextColor: $blanco;
$infoButtonHoverBorderColor: #34536d;

// focus
$infoFocusShadow: 0 0 0 0.2em #9ba5ad;
//active
$infoButtonActiveBgColor: #2a455c;
$infoButtonActiveTextColor: $blanco;
$infoButtonActiveBorderColor: #2a455c;

//=====================
// Boton Success
//=====================

$successButtonBgColor: #39803a;
$successButtonBorder: 1px solid #39803a;
$successButtonTextColor: $blanco;

//hover
$successButtonHoverBgColor: #206122;
$successButtonHoverTextColor: $blanco;
$successButtonHoverBorderColor: #206122;
//active
$successButtonActiveBgColor: #143615;
$successButtonActiveTextColor: $blanco;
$successButtonActiveBorderColor: #143615;
//focus
$successButtonFocusShadow: 0 0 0 0.2em #aae5aa;


//=====================
// Boton Warning
//=====================
$warningButtonBgColor: #ffba01;
$warningButtonBorder: 1px solid #ffba01;
$warningButtonTextColor: #333333;
//hover
$warningButtonHoverBgColor: #ed990b;
$warningButtonHoverTextColor: #333333;
$warningButtonHoverBorderColor: #ed990b;
//active
$warningButtonActiveBgColor: #d49932;
$warningButtonActiveTextColor: #333333;
$warningButtonActiveBorderColor: #d49932;

//focus
$warningButtonFocusShadow: 0 0 0 0.2em #ffeab4;


//=====================
// Boton Danger
//=====================
$dangerButtonBgColor: #e91224;
$dangerButtonBorder: 1px solid #e91224;
$dangerButtonTextColor: $blanco;
//hover
$dangerButtonHoverBgColor: #c01120;
$dangerButtonHoverTextColor: $blanco;
$dangerButtonHoverBorderColor: #c01120;
//active
$dangerButtonActiveBgColor: #a90000;
$dangerButtonActiveTextColor: $blanco;
$dangerButtonActiveBorderColor:  #a90000;
//focus
$dangerButtonFocusShadow: 0 0 0 0.2em #f9b4ba;
// ========================================================================================
// Personalizacion de las card
// ========================================================================================

$cardShadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
  0 2px 1px -1px rgba(0, 0, 0, 0.12);

// ========================================================================================
// Personalizacion de las card
// ========================================================================================
$breadcrumTransition: box-shadow 0.3s;
$breadcrumShadow: 0 0 0 0.2em $verdeCorporativo;
$breadcrumBgColor: #ebebeb;
$breadcrumBorderRadius: 4px;

// ========================================================================================
// Personalizacion de las card
// ========================================================================================

//tabview
$tabsNavBorder: 0 none;
$tabsNavBgColor: transparent;
$tabHeaderSpacing: 2px;
//panel common (e.g. accordion, panel, tabview)
$panelHeaderBorder: 1px solid #c8c8c8;
$panelHeaderBgColor: #4d4d4d;
$panelHeaderTextColor: #f5f5f5;
$panelHeaderHeigth: 33px;

$panelHeaderIconColor: #212121;
$panelHeaderIconHoverColor: #333333;
$panelHeaderIconTransition: color $transitionDuration,
  background-color $transitionDuration, box-shadow $transitionDuration;
$panelHeaderFontWeight: 300;
$panelHeaderPadding: 0.200em 1em;
$panelContentBorder: 1px solid #c8c8c8;
$panelContentBgColor: #ebebeb;
$panelContentTextColor: $textColor;
$panelContentPadding: 0.571em 1em;
$panelFooterBorder: 1px solid #c8c8c8;
$panelFooterBgColor: #ffffff;
$panelFooterTextColor: $textColor;
$panelFooterPadding: 0.571em 1em;
$panelHeaderHoverBgColor: #dbdbdb;
$panelHeaderHoverBorder: 1px solid #dbdbdb;
$panelHeaderHoverTextColor: #333333;
$panelHeaderHoverIconColor: #333333;
$panelHeaderActiveBgColor: $verdeCorporativo;
$panelHeaderActiveBorder: 1px solid $verdeCorporativo;
$panelHeaderActiveTextColor: #ffffff;
$panelHeaderActiveIconColor: #ffffff;
$panelHeaderActiveHoverBgColor: $gris;
$panelHeaderActiveHoverBorder: 1px solid $gris;
$panelHeaderActiveHoverTextColor: #ffffff;
$panelHeaderActiveHoverIconColor: #ffffff;
$panelHeaderTransition: background-color $transitionDuration,
  box-shadow $transitionDuration;

$maskBgColor: rgba(0, 0, 0, 0.4); //dialog mask
$inlineSpacing: 0.5em; //spacing between inline elements
$chipsItemMargin: 0 0.286em 0 0; //autocomplete and chips token spacing
$dataIconColor: $textSecondaryColor; //icon color of a data such as treetoggler, table expander
$dataIconHoverColor: $textColor; //hover icon color of a data such as treetoggler, table expander

// ========================================================================================
// Personalizacion de las cards
// ========================================================================================

// ========================================================================================
// Personalizacion de las DropDowns
// ========================================================================================

$DropdowmMinWidth: 13.5em;
$DropdowmBgColor: #eaeaea;
$DropdowmColor: #333333;
$DropdowmTransition: border-color 0.2s, box-shadow 0.2s, color 0.2s;
$DropdowmHoverBorderColor: $verdeCorporativo;
$DropdowmItemsMaxHeigth: 200px;
$DropdowmItemsColorHover: #eaeaea;
$DropdowmItemsColorHighlight: #ffffff;
$DropdowmItemsBgColorHighlight: $verdeCorporativo;

// ========================================================================================
// Personalizacion de las Listbox
// ========================================================================================

$ListboxMinWidth: 15em;
$ListboxBgColor: $colorDefectoFondo;
$ListboxPaddingElementos: 0.25em;

// ========================================================================================
// Personalizacion de los Menus
// ========================================================================================

//menu (e.g. menu, menubar, tieredmenu)
$menuBgColor: #ffffff;
$menuBorder: 1px solid #c8c8c8;
$menuPadding: 0;
$menuTextColor: $textColor;
$menuitemPadding: 0.714em 0.857em;
$menuitemMargin: 0;
$menuitemTextColor: #333333;
$menuitemIconColor: #333333;
$menuitemHoverTextColor: #333333;
$menuitemHoverIconColor: #333333;
$menuitemHoverBgColor: #e5e5e5;
$menuitemActiveTextColor: #333333;
$menuitemActiveIconColor: #333333;
$menuitemActiveBgColor: #eaeaea;
$menuitemRouterLinkActiveTextColor: $verdeCorporativo;
$menuitemRouterLinkActiveIconColor: $verdeCorporativo;
$submenuHeaderMargin: 0;

$submenuColorHeader: #f1f1f1;
$overlayMenuBorder: 1px solid #c8c8c8;
$overlayMenuShadow: 0 0px 3px 0 rgba(0, 0, 0, 0.16);
$menuitemFocusShadow: 0 0 0 0.1em $borderColor;

$contextMenuBgColor: #ffffff;
$contextMenuBorder: 1px solid #c8c8c8;
$contextMenuItemFontSize: 13px;
$contextMenuItemFontweight: 500;
$contextMenuItemHoverBgColor: #eaeaea;
$contextMenuItemHoverTextColor: $verdeCorporativo;
$contextMenuWidth: 12.5em;
$contextMenuPadding: 0.25em;

// ========================================================================================
// Personalizacion de las tablas
// ========================================================================================

//table
$tableCaptionFontWeight: 700;
$tableCaptionBgColor: #6e6e6e;
$tableCaptionTextColor: #f4f4f4;
$tableSummaryFontWeight: 700;
$tableHeaderCellPadding: 0.571em 0.857em;
$tableHeaderCellBgColor: #f4f4f4;
$tableHeaderCellTextColor: $textColor;
$tableHeaderCellFontWeight: 700;
$tableHeaderCellFontSize: 14px;
$tableHeaderCellBorder: 1px solid #c8c8c8;
$tableHeaderCellHoverBgColor: #e0e0e0;
$tableHeaderCellHoverTextColor: #333333;
$tableHeaderCellIconColor: $textSecondaryColor;
$tableHeaderCellHoverIconColor: #333333;
$tableBodyRowBgColor: #ffffff;
$tableBodyCellfontSize: 14px;
$tableBodyRowTextColor: $textColor;
$tableBodyRowEvenBgColor: #f4f4f4;
$tableBodyRowHoverBgColor: #eaeaea;
$tableBodyRowHoverTextColor: #333333;
$tableBodyCellBorder: 1px solid #c8c8c8;
$tableBodyCellPadding: 0.571em 0.857em;
$tableFooterCellPadding: 0.571em 0.857em;
$tableFooterCellBgColor: #ffffff;
$tableFooterCellTextColor: $textColor;
$tableFooterCellFontWeight: 700;
$tableFooterCellBorder: 1px solid #c8c8c8;
$tableResizerHelperBgColor: $verdeCorporativo;
$tableRowBgColorSelected: #dbddc3;

// ========================================================================================
// Personalizacion de los toast
// ========================================================================================

$toastWidth: 23em;

// ========================================================================================
// Personalizacion de los checkbox
// ========================================================================================

$checkboxWidth: 20px;
$checkboxHeight: 20px;
$checkboxActiveBorderColor: $verdeCorporativo;
$checkboxActiveBgColor: $verdeCorporativo;
$checkboxActiveTextColor: $colorTextoBlanco;
$checkboxActiveHoverBgColor: $gris;
$checkboxActiveHoverTextColor: $colorTextoBlanco;
$checkboxActiveHoverBorderColor: $gris;
$checkboxActiveFocusBgColor: $gris;
$checkboxActiveFocusTextColor: $colorTextoBlanco;
$checkboxActiveFocusBorderColor: $gris;
$checkboxFocusBgColor: $inputBgColor;
$checkboxFocusTextColor: $verdeCorporativo;
$checkboxFocusBorderColor: $verdeCorporativo;
$checkboxTransition: background-color $transitionDuration,
  border-color $transitionDuration;

// ========================================================================================
// Personalizacion de las SECCIONES - NOTICIAS
// ========================================================================================
