// -----------------------------------------------------------------------------
// Estilos comunes a todos los componentes
// -----------------------------------------------------------------------------

* {
  @include box-sizing(border-box);
}

body {
  .ui-widget {
    font-family: $fontFamily;
    font-size: $fontSize;
    text-decoration: none;
  }
  .ui-widget-overlay {
    background-color: rgba(0, 0, 0, 0.4);
  }
  .ui-widget-content p {
    line-height: 1.5;
    margin: 0;
  }

  a {
    color: $verdeCorporativo;
    text-decoration: none;
  }
  a:hover {
    color: $verdeCorporativo;
  }
  a:active {
    color: $verdeCorporativo;
  }
  .ui-helper-reset {
    line-height: normal;
  }
  .ui-state-disabled, body .ui-widget:disabled {
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
  .pi {
    font-size: 1.25em;
  }
  .ui-link {
    font-family: $fontFamily;
    font-size: $fontSize;
    border-radius: 3px;
  }
  .ui-link:focus {
    outline: 0 none;
    outline-offset: 0;
    -webkit-box-shadow: 0 0 0 0.2em #ffe8b3;
    -moz-box-shadow: 0 0 0 0.2em #ffe8b3;
    box-shadow: 0 0 0 0.2em #ffe8b3;
  }
}

body ::-webkit-input-placeholder {
  color: #9b9b9b;
}
body :-moz-placeholder {
  color: #9b9b9b;
}
body ::-moz-placeholder {
  color: #9b9b9b;
}
body :-ms-input-placeholder {
  color: #9b9b9b;
}