// -----------------------------------------------------------------------------
// Estilos propios y comunes a todos los componentes
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  .p-component,
  .ui-widget,
  .ui-widget .ui-widget {
    font-family: $fontFamily;
    text-decoration: none;
  }
  .ui-widget-content {
    font-weight: normal;
  }
  .ui-widget-overlay {
    background-color: rgba(0, 0, 0, 0.4);
  }
  .pi {
    font-size: $sizeIcons;
    font-family: primeicons;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
  }

  a {
    color: $verdeCorporativo;
    &:hover {
      color: $primaryDarkColor;
    }
  }

  
  
}
