.ui-corner-all {
  @include border-radius($borderRadius);
}

.ui-corner-top {
  @include border-radius-top($borderRadius);
}

.ui-corner-bottom {
  @include border-radius-bottom($borderRadius);
}

.ui-corner-left {
  @include border-radius-left($borderRadius);
}

.ui-corner-right {
  @include border-radius-right($borderRadius);
}

.ui-helper-reset {
  line-height: normal;
}

.ui-state-disabled,
.ui-widget:disabled {
  @include opacity($disabledOpacity);
}

.activo {
  @include border-radius(6px);
  font-size: 13px;
  @include FondoBordeyColor(#39803a, #f8f9fa);
  text-align: center;
  @include inline;
  padding: 0.2em 0.4em;
}
.caducado {
  @include border-radius(6px);
  font-size: 13px;
  @include FondoBordeyColor(#ffba01, #333333);
  text-align: center;
  @include inline;
  padding: 0.2em 0.4em;
}
.eliminado {
  border-radius: 6px;
  font-size: 13px;
  @include FondoBordeyColor(#e91224, #f8f9fa);
  text-align: center;
  @include inline;
  padding: 0.2em 0.4em;
}

.botones-fila {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  .ui-button {
    margin-right: 7px !important;
    padding: 0 !important;
  }
}
.botones-columna {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .ui-button {
    margin-bottom: 7px !important;
    padding: 0 !important;
  }
}

.fondoBlancoTextoVerde {
  color: $colorTextoBlanco;
  background-color: $verdeCorporativoDark;
}
