/*============================================================== 
 Estilos globales del layout que usaremos en todas las painas 
 ============================================================== */

//  #main-wrapper { 
//   width: 100%;
//   overflow: hidden;
// }

// .page-wrapper {
//   background: $blanco;
//   padding-bottom: 60px;
//   position: relative;
// }

// .container-fluid {
//   padding: 25px 25px;
// }

// .card {
//   margin-bottom: 30px;
//   .card-subtitle {
//       font-weight: 300;
//       margin-bottom: 15px;
//       color: $muted;
//   }
//   .card-title {
//       position: relative;
//   }
// }




.bg-green {
  background: #8ea22d !important;
  border: 1px solid #8ea22d !important;
}

.logo-dipu-round {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 50px;
  width: 50px;
  background: url("http://plandirng.dipujaen.es/dcdn/plandir/assets/images/logo40.png")
    center;
  background-repeat: no-repeat;
}
li.all-notificaciones {
  strong {
    font-size: 14px;
    padding-right: 8px;
  }
}
.message-center {
  font-family: "MyriadProRegular";
  a {
    .mail-contnet > h5 {
      font-size: 15px;
    }
    &:hover {
      background: #eaeaea !important;
    }
  }
}

/* Fin Notificaciones header */

/* Perfil de Usuario */
.topbar ul.dropdown-user li a:hover {
  background: #eaeaea !important;
  color: #67757c !important;
  text-decoration: none;
}

/* Fin Perfil de Usuario */

.mailbox .message-center a .update-ut-codigo {
  font-size: 12px;
  position: absolute;
  top: 17%;
  right: 11px;
  display: none;
}

.mailbox .message-center a:hover {
  .update-ut-codigo:hover {
    display: block;
  }
}

/*Tablas modulo Comunica */
.table.table-comunica {
  border: 0 !important;
}
.table-comunica {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  text-align: left;
  border: 0px !important;
  color: $colorTexto;

  thead {
    background-color: #ffffec;
    border-bottom: 2px solid $verdeCorporativo;
    th {
      font-weight: 600 !important;
      padding: 0.75rem;
      vertical-align: bottom;
    }
    td {
      padding: 0.75rem;
      vertical-align: top;
      border-top: 1px solid #e9ecef;
    }
  }
  .ui-button-text-only .ui-button-text {
    padding: 0.2em 0.4em !important;
  }
}
