/*
  @autor: NOVA0011 - Alberto Ogayar
*/
/*============================================================== 
 Estilos para el componente de notificaciones del Header
 ============================================================== */

.enlace-utramitadora {
  font-family: "Roboto", sans-serif;
  .ui-overlaypanel {
    background-color: $blanco;
    color: $colorTexto;
    padding: 0;
    top: 45px !important;
    box-shadow: none;
    border: 1px solid rgba(235, 235, 235, 0.4);
    border-top: 0;
    .ui-overlaypanel-content {
      width: auto;      
      padding: 0;
      .ui-card {
        min-width: 380px;
        .ui-card-header {
          
        }
        .ui-card-body {
          padding: 0;
          .ui-card-content {
            .ui-listbox {
              border: none;
              padding: 0;
              margin: 0;
              &::-webkit-scrollbar {
              }
              &::-webkit-scrollbar-thumb {
              }
              &.ui-inputtext {

              }

              .ui-listbox-item {
                background: #fff;
                & > div {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                }
              }
              .ui-state-highlight {
                
                & > div {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                }
              }
            }
          }
        }
      }
    }
    &::after {
      border-bottom-color: #f2f2f2 !important;
    }
    &::before {
      border-bottom-color: #ccc !important;
    }
  }
}

/* Notificaciones header */
.badge {
  top: 5px;
  font-size: 11px;
  font-weight: bold;
  line-height: 13px;
  position: absolute;
  display: inline-block;
  min-width: 10px;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 10px;
}
