/*
  @autor: NOVA0011 - Alberto Ogayar
*/
/*============================================================== 
 Estilos para el componente de notificaciones del Header
 ============================================================== */

.enlace-utramitadora,
.enlace-user,
.enlace-notificaciones {
  font-family: "Roboto", sans-serif;
  .ui-overlaypanel {
    min-width: 380px;
    background: #f7f7f7;
    border: 0.5px solid #e6e6e6 !important;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    padding: 1.5px;
    margin-top: 10px;
    top: 38.5px !important;
    .ui-overlaypanel-content {
      padding: 0;
      .ui-card,
      .ui-card-shadow {
        width: 380px;
        .header-change-ut {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .ui-card-header {
          text-align: left !important;
          padding: 5px 10px;
          line-height: 20px;
          color: #8ea22d;
          font-size: 14px;
          font-weight: 500;
          font-family: "ROBOTO";
        }
        .ui-card-body {
          padding: 0;
          .ui-card-content {
            .icono-ut {
              color: #8ea22d;
              top: 0;
              display: inline-block;
              position: absolute;
              right: 0;
              padding: 7px;
            }
          }

          .ui-card-footer {
            text-align: center;
            line-height: 0px;
            font-weight: 400;
            text-transform: uppercase;
            color: #808080;
            border-top: 1px solid #eaeaea;
            padding-bottom: 18px;
            font-size: 12px;

            i {
              padding-right: 5px;
              color: $info;
            }
          }
        }
        .ui-listbox {
          border: none;
          min-width: 380px;
          background: #f7f7f7;

          .ui-listbox-header {
            text-align: left;
            line-height: 0px;
            font-weight: 400;
            text-transform: uppercase;
            color: #808080;
            border-bottom: 1px solid #eaeaea;
            padding-bottom: 18px;
            font-size: 12px;
          }

          ul {
            list-style-type: none;
            font-family: "Roboto";
            max-height: 160px;
            overflow-y: auto;
            li {
              font-size: 12px !important;
              color: #808080;
              background: #f7f7f7;
              height: 40px;

              & > div {
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                h6 {
                  display: inline-block;
                  font-size: 13px;
                  font-weight: 400;
                }
                i[class*="check"] {
                  color: #9ad54a;
                }
              }
            }
            &::-webkit-scrollbar {
              width: 8px;
              background-color: #f7f7f7;
            }
            &::-webkit-scrollbar-thumb {
              border-radius: 10px;
              box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
              background-color: rgb(142, 162, 45);
            }
            &::-webkit-scrollbar-track {
              border-radius: 10px;
              box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
              background-color: #f7f7f7;
            }

            li:hover {
              background: #eaeaea;
              color: #808080;
            }
            .ui-state-highlight {
            }
          }
        }
      }
      .ui-inputtext {
        padding: 0;
      }
    }
    &::after {
      border-bottom-color: #f2f2f2 !important;
    }
    &::before {
      border-bottom-color: #ccc !important;
    }
  }
}
.enlace-notificaciones {
  .djnotifi {
    .djnotifi-empty {
      border-top: 1px solid #eaeaea;
      padding: 1.3em;
      font-size: 13px;
      color: #808080;
      text-transform: uppercase;
      background: #f7f7f7;
    }
    .djnotifi-listbox {
      ul {
        max-height: 225px !important;
        li {
          border-bottom: 0.5px solid rgba(#808080, 0.1);
          text-transform: uppercase;
          text-align: left;
          display: block;
          height: auto !important;
          background: #f7f7f7;

          .djnotifi-contenedor {
            font-family: $fontFamily;
            display: block !important;
            height: auto;
            position: relative;
            line-height: 23px;
            height: 45px;

            .djnotifi-titulo {
              display: block;
              width: 100%;
              .titulo {
                color: #808080;
                font-size: 14px;
                letter-spacing: 0.5px;
                font-weight: 400;
                padding: 0;
                margin: 0;
              }
            }
            .djnotifi-icons {
              display: block;
              position: absolute;

              .djnotifi-tipo {
                display: inline-block !important;
                margin-right: 10px;
                i {
                  color: $info;
                }
              }
              .djnotifi-prioridad {
                display: inline-block !important;
                margin-right: 10px;
              }
              .djnotifi-estado {
                display: inline-block !important;
                margin-right: 10px;
                i {
                  color: $verdeCorporativoDark;
                }
              }
            }
            .djnotifi-time {
              position: absolute;
              right: 0;
              display: inline-block;
            }
            .djnotifi-borrar {
              position: absolute;
              right: 0;
              top: 0;
              i {
                color: $verdeCorporativoDark;
              }
            }
          }
        }
      }
    }
  }
  .djnotifi-contenedor-detalle {
    text-align: left;
    color: #808080;
    position: relative;
    background: #f7f7f7;

    span {
      text-transform: uppercase;
      font-size: 13px;
      padding-right: 5px;
    }

    .djnotifi-titulo {
      text-align: left;
      text-transform: uppercase;
      background: #fff;
      h6 {
        font-size: 13px;
        font-family: $fontFamily;
        font-weight: 400;
        color: #808080;
        padding-left: 10px;
        border-bottom: 1px solid #eaeaea;
        padding-bottom: 5px;
      }
    }
    .djnotifi-tipo {
      display: inline-block;
      margin-left: 10px;
      i {
        color: $info !important;
      }
    }
    .djnotifi-prioridad {
      display: inline-block;
      margin-left: 10px;
    }
    .djnotifi-estado {
      display: inline-block;
      margin-left: 10px;
      i {
        color: $verdeCorporativoDark !important;
      }
    }
    .djnotifi-borrar {
      position: absolute;
      top: 28px;
      right: 0;
      padding-right: 6px;
      i {
        color: $verdeCorporativoDark !important;
      }
    }
    .djnotifi-contenido {
      font-size: 12px;
      color: #777;
      padding: 10px;
    }
    .djnotifi-time {
      position: absolute;
      top: 0;
      right: 0;
      .time {
        font-size: 12px;
        font-weight: 600;
      }
    }
  }
}
.enlace-user {
  font-family: $fontFamily !important;

  .contenedor-usuario {
    .name {
      letter-spacing: 1px;
      font-size: 14px;
      font-weight: 400;
    }
  }

  .ui-overlaypanel {
    min-width: 310px;
    color: #808080;

    .u-text {
      color: #808080;
      p {
        margin-bottom: 4px !important;
        font-size: 13px !important;
        text-transform: lowercase;
      }
    }
    .divider {
      margin: 4px 0 !important;
    }

    .dropdown-user {
      .u-img {
        width: 70px !important;
        margin-right: 10px;
        img {
          width: 100% !important;
        }
      }

      .user-data:hover {
        a {
          color: #808080 !important;
          background: #eaeaea !important;
        }
      }
    }
  }
}

// .enlace-utramitadora {
//   font-family: "Roboto", sans-serif;
//   .ui-overlaypanel {
//     background-color: $blanco;
//     color: $colorTexto;
//     border: 1px solid red;
//     padding: 0;
//     width: 400px;
//     top: 45px !important;
//     //border: 1px solid rgba(235, 235, 235, 0.4);
//     border-top: 0;
//     .ui-overlaypanel-content {
//       margin: 0;
//       padding: 0;
//       .ui-card {
//         min-width: 380px;
//         border: 1px solid green;
//         .ui-card-header {
//         }
//         .ui-card-body {
//           padding: 0;
//           .ui-card-content {
//             .ui-listbox {
//               border: none;
//               padding: 0;
//               margin: 0;
//               min-width: 380px;
//               &::-webkit-scrollbar {
//               }
//               &::-webkit-scrollbar-thumb {
//               }
//               &.ui-inputtext {
//               }

//               .ui-listbox-item {
//                 background: #ccc;
//                 & > div {
//                   display: flex;
//                   justify-content: space-between;
//                   align-items: center;
//                 }
//               }
//               .ui-state-highlight {
//                 & > div {
//                   display: flex;
//                   justify-content: space-between;
//                   align-items: center;
//                 }
//               }
//             }
//           }
//         }
//       }
//     }
//     &::after {
//       border-bottom-color: #f2f2f2 !important;
//     }
//     &::before {
//       border-bottom-color: #ccc !important;
//     }
//   }
// }

/* Notificaciones header */
.badge {
  top: 5px;
  font-size: 11px;
  font-weight: bold;
  line-height: 13px;
  position: absolute;
  display: inline-block;
  min-width: 10px;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 10px;
}
